<div class="container my-5">
    <h1 class="display-3 my-title"><b>CantoneseGPT Response</b></h1>
    <div class="mb-3">
        <label for="answer" class="form-label">Response:</label>
        <textarea class="form-control" name="answer" id="answer" rows="10" readonly><%= answer %></textarea>
    </div>
    <a href="/cantonese" class="btn btn-primary">Ask another query</a>
</div>