<h1>CS103a Team 39App</h1>
<p class="text-danger">Welcome to our App</p>

<ul>
  <li>
    <a href="/gpt">Try MandarinGPT!</a>
  </li>
  <li>
    <a href="/cantonese">Try CantoneseGPT! </a>
  </li>
</ul>