<h1> TEAM: </h1>
<h2> Angela Lam </h2>
    <p> Senior at Brandeis with Computer Science and Economics major</p>
    <p> Responsible for 'Cantonese' GPT function and web development</p>
<h2> Dexin Huang </h2>
    <p> Senior at Brandeis with Business major</p>    
    <p> Responsible for 'Mandarin' GPT function and web development</p>	